<html>
  <title>Company Explorer</title>
  <script src='http://platform.linkedin.com/in.js'>
    api_key: X-C_BV81M3hrP3jHee1RtIm6RBLwyZOv2v4ce3xxEStkia640qghvNGtTCHJKptH
    authorize: true
  </script>
  <body>
    <h1>Company Explorer</h1>
    <script type='IN/Login'></script>
  </body>
</html>