<html>
<head>
  <script src='js/extensions.js'></script>
  <script src='http://platform.linkedin.com/in.js'>
    api_key : <%= Constants::Key %>
    onLoad : Extensions.onLoad
  </script>
</head>
<body>
  <script type='IN/Login'></script>
</body>
</html>