<html>
<head>
  <script src='js/extensions.js'></script>
  <script src='http://platform.linkedin.com/in.js'>
    api_key : <%= Constants::Key %>
    onLoad : Extensions.onLoad
  </script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="Style.css">
</head>
<body>
  <script type='IN/Login'>
  </script>
  <div id='container'>
	<div id="header" class="header"> 
		<h1 class="logo"> LinkedIn</h1>
		<div id="nav-utility">
			<ul>
				<li id="username" class="name"></li>
			</ul>
		</div>
	</div>
	<div id="messages" class="messageContainer"></div>
	<form id="share-link">
		<div id="body">
			<div class="urlContainer">
				<h3 id="share-title" class="title">Share News With Your LinkedIn Network</h3>
				<p class="meta">
					<code id='link' style='display:none'></code>
					<code id='link-display'></code>
				</p>
			</div>
			<div id="titleContainer">
				<label for='title'>Title</label><br/>
				<input type='text' id='title'/><br/>
			</div>
			<div id="commentContainer">
				<label for='comment'>Comment</label><br/>
				<textarea id='comment' cols='100' rows='10' placeholder='Enter an additional comment here if you want'></textarea>
			</div>
			<p class="actions">
				<input id="submit" type="button" class="confirmbtn" value="Share" onclick="Extensions.share();return false;"/>
				<a class="cancel" onclick="Extensions.closePopup();return false;"> Cancel</a>
			</p>
		</div>
	</form>
	</div>
</body>
</html>