<html>
<head>
  <script src='js/extensions.js'></script>
  <script src='http://platform.linkedin.com/in.js'>
    api_key : <%= Constants::Key %>
    authorize: true
    onLoad : Extensions.onLoad
  </script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <style>
  *
  {
    font-family: "Ubuntu", arial, serif;
  }
  #share-link
  {
    display:none;
  }
  #title
  {
    width:250px;
    padding:2px;
    font-size:1em;
  }
  #comment
  {
    width:250px;
    height:50px;
    padding:2px;
  }
  #submit
  {
    margin:10px 5px 5px 0px;
    padding:7px;
  }
  label
  {
    width:238px;
    border:2px solid #DDD;
    -webkit-border-radius:5px;
    padding:5px;
    background-color:#EFEFEF;
    color:#069;
  }
  label,code,input
  {
    display:block;
  }
  </style>
</head>
<body>
  <script type='IN/Login'>
  </script>
  <div id='content'>
  <form id="share-link">
    <label for='link'>Sharing</label><br/>
    <code id='link'></code><br/>
    <label for='title'>Title</label><br/>
    <input type='text' id='title'/><br/>
    <label for='comment'>Comment</label><br/>
    <textarea id='comment' cols='100' rows='10' placeholder='Enter an additional comment here if you want'></textarea>
    <button id='submit' href='#' onclick='Extensions.share()'>Share</button>
  </form>
  <div id='messages'>
    
  </div>
  </div>
</body>
</html>